[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pdoc3 = "*"
isort = "*"
yapf = "*"
mypy = "*"
pyflakes = "*"
pytest-benchmark = "*"

[packages]
numpy = "*"
scipy = "*"
atompack = {editable = true, path = "."}

[requires]
python_version = "3.8"
