[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
mypy = "*"
pdoc3 = "*"
pyflakes = "*"
pytest = "*"
pytest-benchmark = "*"
yapf = "*"

[packages]
numpy = "*"
scipy = "*"
retworkx = "*"

[requires]
python_version = "3.8"
